<h2>Room Types</h2>
<!--{{roomList}}-->
<table class="table">
    <tr>
        <th>Even/Odd</th>
        <th>Index</th>
        <th>Room type</th>
        <th>Room price</th>
        <th>Room amenities</th>
        <th>Rating</th>
        <th>Check-in time</th>
        <th>Select Room</th>
    </tr>
    <tr [ngClass]="e? 'even' : 'odd'"
    *ngFor = 'let room of rooms; let e = even; let o = odd; let i = index'>
        <td>{{ e ? "Even" : "Odd" }}</td>
        <td>{{ i }}</td>
        <td>{{ room.roomType | titlecase}}</td>
        <td>{{ room.price | currency : "BRL" }}</td>
        <td>{{ room.amenities | lowercase }}</td>
        <td>{{ room.rating | number: "1.1-2"}}</td>
        <td>{{ room.checkInTime | date }}</td>
        <td>
            <button class="btn btn-info" (click)="selectRoom(room)">Select</button>
        </td>

    </tr>
</table>
