$font : Verdana, Geneva, Tahoma, sans-serif;
$radius1 : 20px;
$radius2 : 30px;

.even {
    background-color: lightsteelblue;
}

.odd {
    background-color: lightcyan;
}

.table {
    background-color: paleturquoise;
    padding: 8px;
    text-align: center;

    box-shadow: 2px 2px 2px black, 5px 5px 6px gray, 10px 10px 15px gray;
}

th {
    padding: 10px;
    font-family: $font;
    border-bottom : 1px solid white;
    border-top: 1px solid black;

}

td {
    padding: 8px;
    font-family: $font;
    // border-radius: $radius1;
    // box-shadow: 1px 1px 1px black ;
}


