$font: cursive;

* {
    margin: 7px;
}

div {
    font-family: $font;
}

h1 {
    font-family: $font;
    box-shadow: 1px 1px 2px black, 2px 2px 5px gray, 5px 5px 10px gray;
    width: 250px;
    border: 3px solid teal;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
}

h2 {
    font-family: $font;
}

p
 {
    font-family: $font;
 }

label {
    font-family: $font;
}
