.even {
    background-color: powderblue;
}

.odd {
    background-color: bisque;
}

table {
    padding: 1px;
}

th {
    padding: 3px;
    font-family: cursive;
}

td {
    padding: 8px;
    margin: 3px;
    font-family: cursive;
}
