<h2 [hidden]="hideTitle">Welcome to {{ hotelName }}</h2>
<hr>
<div [ngStyle]="{'color' : rooms.availableRooms ? 'gray' : 'brown'}"
[hidden]="hideRooms">Number of rooms:<br>

<label>available: </label><label [innerText]="rooms.availableRooms"></label><br>
<label>Booked: </label><label [innerText]="rooms.bookedRooms"></label><br>
<label *ngIf="rooms.availableRooms  == 0 ">ALL BOOKED</label>
</div><br>

<input type="checkbox"(click)="toggle()"><label>Show rooms</label><br>
<input type="checkbox" (click)="show()"><label>Hide title</label><br>
<br>

<button id="add" (click)="addRoom()">Check-out <br />available rooms {{ rooms.availableRooms }} </button>
<button id="take" (click)="takeRoom()">Check-in <br />Booked rooms {{ rooms.bookedRooms }} </button>
<hr>
<h2>Room Types</h2>
<!--{{roomList}}-->
<table>
    <tr>
        <th>Even/Odd</th>
        <th>Index</th>
        <th>Room type</th>
        <th>Room price</th>
        <th>Room amenities</th>
    </tr>
    <tr [ngClass]="e? 'even' : 'odd'"
    *ngFor = 'let room of roomList; let e = even; let o = odd; let i = index'>
        <td>{{ e ? "Even" : "Odd" }}</td>
        <td>{{ i }}</td>
        <td>{{ room.roomType }}</td>
        <td>USD ${{ room.price }}</td>
        <td>{{ room.amenities }}</td>
    </tr>
</table>
